.formContainer{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.form{
    width: 500px;
    background-color: #4569AF;
    padding: 10px;
}
input{
    width: 99%;
    padding: 8px 0;
    margin: 10px 0;
    padding-left: 10px;
}

