@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');
.banner{
    background-color: #F7F7FF;
}
.content-part{
    padding-top: 170px;
    padding-bottom: 80px;
}
.title{
    background-image: url("../images/title.png");
    width: 510px;
    color: #7175D7;
    font-family:"Poppins",sans-serif ;
    font-weight: 700;
    font-size: 18px;
}
.content-part h1{
    font-family:"Poppins",sans-serif ;
    font-weight: 700;
    font-size: 45px;
    font-weight: 800;
    color: #1F2278;
    margin-bottom: 30px;
}
.content-part .btn{
    background-color: #F17732;
    padding: 20px 25px;
    border: none;
    font-family:"Poppins",sans-serif ;
    font-weight: 700;
    font-size: 14px;
}

.banner-img img{
    padding-top: 100px;
    width: 480px;
    height: 580px;
    animation-name: slideUpDown;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}
@keyframes slideUpDown{
    0%,100%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-10px);
    }
}
